@import "sidebar.css";
.rightBar {
    background-image: url(./img/whitebackground1.jpg);
    background-size: 100%;
}

.card {
    border-style: solid !important;
    border-color: rgba(233, 167, 0, 0.68) !important;
    border-width: 2px !important;
    background-color: #484848 !important;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-header {
    font-size: 2rem;
}

.card-body ol {
    font-size: 0.90rem;
    color: rgb(204, 204, 204);
}

.rText li {
    font-size: 0.9em;
    color: rgb(204, 204, 204);
}

.rText p {
    font-size: 1.25rem;
}

.jobTable {
    border-top: solid !important;
    border-color: rgba(233, 167, 0, 0.68) !important;
    border-width: 2px !important;
    margin-top: 5px;
    padding-top: 10px;
}

.jobTable h3 {
    font-size: 1.25rem;
}

.jobTable h4 {
    font-size: 1rem;
    color: rgb(204, 204, 204);
}