 @import "sidebar.css";
 #particle-canvas {
     width: 100%;
     height: 100vh;
     line-height: 0em;
 }
 
 .overlayText {
     position: absolute;
     top: 40%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%);
     z-index: 100;
     color: white;
     text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
     font-size: 2rem;
     background-color: #2b2a2a2e;
     -moz-box-shadow: 0px 0px 75px #121212;
     -webkit-box-shadow: 0px 0px 75px #121212;
     box-shadow: 0px 0px 75px #121212;
     padding: 4rem;
 }
 
 .overlayText h1 {
     font-size: 2.5rem;
     padding-left: 1rem;
     padding-right: 1rem;
 }
 
 .rightBar {
     background-color: #313131b7;
 }
 
 .buttons:hover {
     background-color: #313131b7;
     color: white;
 }
 
 .buttons {
     border: rgb(141, 141, 141);
     border-style: solid;
     border-width: 0.1rem;
     background-color: #31313167;
     color: white;
     padding: 0.75rem 7rem 0.75rem 7rem !important;
     border: rgb(141, 141, 141) !important;
     border-style: solid !important;
     border-width: 0.1rem !important;
 }
 
 @media (min-width: 768px) and (max-width: 991.98px) {
     .buttons {
         padding: 0.35rem 4rem 0.35rem 4rem !important;
         font-size: 0.75rem;
     }
     .overlayText h1 {
         font-size: 2rem;
         padding-left: 0rem;
         padding-right: 0rem;
     }
 }