@import "sidebar.css";
.rightBar {
    background-color: rgb(195, 195, 195);
    background-image: url(./img/whitebackground1.jpg);
    background-size: 100%;
}

.infoBox {
    border-style: solid;
    /* margin-left: 5px; */
}

.ytcontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.bgDark {
    background-color: #484848 !important;
}

.boarderColour {
    border-style: solid !important;
    border-color: rgba(233, 167, 0, 0.68) !important;
    border-width: 1.5px !important;
    height: 95%;
}

.buttonClass {
    text-align: center;
    max-height: 90%;
    padding-bottom: 1rem;
}