html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff !important;
    font-family: 'Titillium Web', sans-serif;
}

.avatar {
    text-align: center;
    padding-top: 4rem;
}

.avatar img {
    border-style: solid;
    border-color: rgb(233, 167, 0);
    border-width: 2px;
    min-width: 150px;
}

.avatar img {
    width: 75%;
}

.avatar h1 {
    color: white;
    font-size: 2rem;
    padding-top: 1rem;
}

.avatar h2 {
    color: #b8b8b8;
    font-size: 1.5rem;
    padding-top: 0.25rem;
}

.avatar h3 {
    color: #b8b8b8;
    font-size: 0.85rem;
    padding-top: 0.15rem;
}

.sidebar {
    background-color: #484848;
}

@media (min-width: 768px) {
    .sidebar {
        -webkit-box-shadow: inset 0px 0px 59px -22px rgba(18, 18, 18, 1);
        -moz-box-shadow: inset 0px 0px 59px -22px rgba(18, 18, 18, 1);
        box-shadow: inset 0px 0px 59px -22px rgba(18, 18, 18, 1);
    }
}

.rightBar {
    background-color: white;
}

.linkBox {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(233, 167, 0);
    background-color: rgba(208, 176, 0, 0.07);
}

.linkBox:hover {
    background-color: rgb(54, 54, 54);
}

.buttonPadding {
    padding-top: 0.5rem;
}

.links {
    text-align: center;
    margin-top: 10%;
}

.navBar {
    width: 100%;
    background-color: #484848 !important;
}