html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(59, 59, 59);
}

.boardContainer {
    background-color: rgb(27, 27, 27);
    align-items: center;
}

.grid-container {
    background-color: rgb(255, 255, 255);
}

.square {
    background-color: rgb(133, 133, 133);
    border: 0.1px solid rgba(0, 0, 0, 0.8);
    font-size: 1px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: rgb(133, 133, 133);
    -moz-box-shadow: inset 0 0 5px #0000007c;
    -webkit-box-shadow: inset 0 0 5px #0000007c;
    box-shadow: inset 0 0 5px #0000007c;
}

.square:hover {
    background-color: rgb(77, 77, 77);
    width: 100%;
}

.hidden {
    background-color: rgb(211, 211, 211);
    box-shadow: inset 0.1rem 0.1rem 0.1rem 0 rgba(255, 255, 255, 0.5), inset -0.1rem -0.1rem 0.1rem 0 rgba(0, 0, 0, 0.5);
}

.bomb {
    background-color: rgb(255, 0, 0);
    color: white;
}

.flag {
    background-color: rgb(95, 95, 95);
    color: white;
}

.footer {
    padding-left: 10px;
}

.animate {
    border: 1px solid #000;
    -webkit-animation: animate_bg 10s;
    animation: animate_bg 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes animate_bg {
    0% {
        background: red;
    }
    25% {
        background: green;
    }
    50% {
        background: blue;
    }
    75% {
        background: green;
    }
    100% {
        background: red;
    }
}

@-webkit-keyframes animate_bg {
    0% {
        background: red;
    }
    25% {
        background: green;
    }
    50% {
        background: blue;
    }
    75% {
        background: green;
    }
    100% {
        background: red;
    }
}